<h1>Listing quizzes</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Competition</th>
    
  </tr>

<% @quizzes.each do |quiz| %>
  <tr>
    <td><%= quiz.filename %></td>
    <td><%= quiz.event.title %></td>
    
  </tr>
<% end %>
</table>


<div class='bottom_nav_buttons'>
<%= link_to 'New Quiz', new_quiz_path %>
</div>
