<div>

<h1>About Quiz Master</h1>


	<p>Quiz Master was developed as part of an independent study project through the IS department at Carnegie Mellon University. It serves as a quiz generation platform for district, national, and international Bible quizzing competitions sanctioned by <a href="http://www.cmalliance.org/">The Alliance</a> ministries.</p>
	



</div>

