<div>

<h1>Contact Quiz Master</h1>
	

	<p>If you have any questions regarding the Quiz Master application, please contact one of the site administrators or CM Alliance officials.</p>
	
  
	
	<h4>Larry Heimann, site administrator</h4>
	

		Email:  <%= mail_to "admin@quizmaker.org", "admin@quizmaker.org", :encode => "javascript" %><br />
		

  
 
</div>
  