<div>
<h1>Our Privacy Policy</h1>

	<p>The Quiz Master team is not liable for any lost or stolen information. We will take any and every opportunity to profit from the sale of your most sensitive data. So please, be careful what you give us!<br /><br />
--The Quiz Master Team</p>
</div>