<div class="row">
	<div class="span8"><h1>New Event</h1></div>
	<%= link_to 'View All Events', events_path, :class => 'btn btn-large font-regular pull-right' %>
</div>
<br/><br/>

<%= render 'form' %>