/*
*= require_self
*= require_tree .
*/
 

@import "color_palette";

html { height:100%; min-height:100%;}

body {
  margin:0;
  padding:0;
  
  background-color:$body-bg-color;
  background:url(image_path('noise.gif'));

  color:$normal-text-color;
  font-size:12pt;
  font-weight:300;
  
  font-family:"Helvetica Neue", Helvetica, Verdana, sans-serif;
  
  height:100%;
  min-height:100%;
}

.wrapper {
  position:relative;
  min-height:100%;
}

.container {
  width:940px;
  margin:0 auto;
}

#content {
  padding-top:10px;
  padding-bottom:80px;
}

/****** Header ******/

header {
  background:white;
  color:#333;
  
  padding:5px 0;
  line-height:1;
  
/* Shadow: left-offset top-offset blur-radius spread-distance color; */
  -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.4);
  -moz-box-shadow:0 3px 5px rgba(0,0,0,0.4);
  -ms-box-shadow:0 3px 5px rgba(0,0,0,0.4);
  box-shadow:0 3px 5px rgba(0,0,0,0.4);
  
  margin-bottom:20px;
}

header:before,header:after {
  content:"";
  display:table;
}

header:after {
  clear:both;
}

header h1,header ul {
  margin:0;
  padding:0;
}

header img.logo {
  position:absolute;
  top:-7px;
  display:block;
  float:left;
}
header img.logo:hover { top:-5px; }

h3.welcome { font-weight:300; font-size:24pt; line-height:1.2em; }
div.title1 {
  background:#E9F7FB;
  padding:10px 15px 10px 10px;
  border:1px solid #d3d3d3;
  border-left:10px solid #D3D3D3;
  border-radius:5px;
}
div.title1 h3 { font-weight:500; color:#456; }

div#welcome {
  font-size:1.5em;
  margin-bottom:30px;
  min-height:20px;
}

header nav { float:right; }
header nav ul, header nav ol {
  list-style:none;
  list-style-image:none;
}
header nav li { display:inline-block; }
header nav li:first-child a { padding-left:0; }
header nav li:last-child a { padding-right:0; }

header nav a {
  text-transform:uppercase;
  
  font-size:0.9em;
  font-weight:500;
  color:#333;
  
  text-decoration:none;
  display:inline-block;
  padding:10px 15px;
}
header nav a:hover { color:#2CCAF1; text-decoration:none; }

header nav a i {
  margin-top:2px;
  padding-left:4px;
}
header nav a i#log-out-icon { margin:2px 0px 0px 3px; padding:0; }

/****** Footer ******/

footer {
  position:absolute;
  bottom:0px;
  height:34px;
  width:100%;
  
  background:white;

  color:#333;  
  padding:5px 0;
  line-height:1;

/* Shadow: left-offset top-offset blur-radius spread-distance color; */
  -webkit-box-shadow:0 -3px 5px rgba(0,0,0,0.4);
  -moz-box-shadow:0 -3px 5px rgba(0,0,0,0.4);
  -ms-box-shadow:0 -3px 5px rgba(0,0,0,0.4);
  box-shadow:0 -3px 5px rgba(0,0,0,0.4);
}

footer nav { float:left; margin-top:0; }
footer nav ul, footer nav ol {
  list-style:none;
  list-style-image:none;
}
footer nav li { display:inline-block; }
footer nav li:first-child a { padding-left:0; }
footer nav li:last-child a { padding-right:0; }
footer a { text-decoration:none; }
footer nav a {
  text-transform:uppercase;
  
  font-size:0.9em;
  font-weight:500;
  color:#333;
  
  text-decoration:none;
  display:inline-block;
  padding:10px 15px;
}
footer nav a:hover { color:#2CCAF1; text-decoration:none; }

footer p {
  float:right;
  
  font-weight:300;
  font-size:16pt;
  
  margin-top:4px;
  padding:0;
}

/************ Typography ***************/

p { font-size:14pt; }