@import "color_palette";
@import "font_palette";
@import "mixins";

div#events {
  font-size:1.5em;
  margin-bottom:30px;
}

div.event-box {
  @include rounded-corners;
  @include box-shadow;
  margin:10px 0;
  padding:0;
}
div.event-box a {
  color:$normal-text-color;
}
div.event-box:hover {
  position:relative;
  top:-1px;
  left:-1px;
  @include raised-box-shadow;
//  @include blue-glow-border;
}

div.events-header {
  @include square-corners;
  margin:10px 0;
  padding:0;
}

// Padding:top right bottom left

div.ev-title, div.ev-quizzes, div.ev-by { padding:10px 14px 10px 20px; margin:0; line-height:1em;}
div.ev-date { padding:10px 16px 10px 20px; margin:0; line-height:1em; }

div.event-key a:hover { color:#0088CC; }
div.event-key:hover { cursor:pointer; }
div.event-key.selected { background-color:#E3EFF6; }

#new-event-button { font-size:1em; letter-spacing:0.1em; }